<div class="row">
  <div class="col-md-3">
    <%= image_tag @restaurant.image_url %>

    <h2>
      <%= @restaurant.name %>
    </h2>

    <%= social_share_button_tag(@restaurant.name) %>

    <p>
      <strong>Description:</strong>
      <%= @restaurant.description %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @restaurant.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @restaurant.state %>
    </p>

    <p>
      <strong>Zipcode:</strong>
      <%= @restaurant.zipcode %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @restaurant.email %>
    </p>

    <p>
      <strong>Parking:</strong>
      <%= @restaurant.parking %>
    </p>

    <%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

    <br>
    <br>

    <iframe
	  width="230"
	  height="230"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJ7BphNq_tVYF9JucYg93sM_xkeuMwR0w
	    &q=<%= @restaurant.address.parameterize %>&zoom=14" allowfullscreen>
	</iframe>
  </div>

  <div class="col-md-9">
  <h2> Reviews of <%= @restaurant.name %></h2>
  <% if @reviews.blank? %>
      <h3> No reviews Yet. Be the first to give a reviews and help others</h3>
    <% else %>
      <table class="table">
        <thead>
          <tr>

            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>

        <tbody>             
         <% @reviews.each do |review| %>

              <tr>
                <td>
                    <div class="img-rounded">
                    </div> 

                      <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>

                </td>

                <td>
                    <h4><strong>
                        <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                    </strong>
                    </h4>
                      <div class="star-rating" data-score= <%= review.rating %> ></div>
                      <h5><p><%= h(review.content).gsub(/\n/, '<br/>').html_safe %></p></h5>
						<%= social_share_button_tag(@restaurant.reviews) %>

                      <% if user_signed_in? %>
                        <% if (review.user_id == current_user.id) || (current_user.admin?) %>

                        <%= link_to "Edit", edit_restaurant_review_path(@restaurant, review) %>


                          <%= link_to "Delete", restaurant_review_path(@restaurant, review), method: :delete %>
                          <% if signed_in? %>
                <%= link_to "Reply", "#" %>
                          <% end %>
                        <% end %>
                </td>
              </tr>
          </tbody>
          <% end %>
        </table>
    <% end %>
<% end %>

</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<script>
	$('.star-rating').raty({
		path: 'http://review1.blob.core.windows.net/stars', 
		readOnly: true,
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
