<div class="row">
  <div class="col-md-3">
    <%= image_tag @restaurant.image_url %>

    <h2>
      <%= @restaurant.name %>
    </h2>

    <p>
      <strong>Description:</strong>
      <%= @restaurant.description %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @restaurant.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @restaurant.state %>
    </p>

    <p>
      <strong>Zipcode:</strong>
      <%= @restaurant.zipcode %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @restaurant.email %>
    </p>

    <p>
      <strong>Parking:</strong>
      <%= @restaurant.parking %>
    </p>

    <%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  </div>

  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h3> No reviews Yet. Be the first to give a reviews and help others</h3>
    <% else %>
      <% @reviews.each do |review| %>
        <p><%= review.rating %></p>
        <p><%= review.comment %></p>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
